{% extends "blog/base.html" %}

{% block content %}
    <h2>About us!</h2>
    <article class="media content-section">
        
        <div class="media-body">
        <div class="article-metadata">
                This website was developed by Nithieshver M, Sumit Kumar, Harish Chandra and Aditya Kumar.</br>
                </br>
                We are Final year Under-graduates from SRM Institute of Science and Technology Delhi-NCR Campus.</br>
                </br>
                This blog post is designed for everyone. Anyone can voice their opinions, share a story or express their thoughts here.</br>
                </br>
                Made using Django,PostgreSQL, Git, GitHub, Amazon AWS S2 and Railway.</br>
                </br>
                Thank you for visiting our site have a great day!
                </div>
        </div>
    </article>
{% endblock content %}